
$lpOverlayColor: #fff;
$lpOverlayOpacity: 0.50;
$lpSpinnerColor: blue;
$lpSpinnerBorderWidth: .25rem;
$lpSpinnerBorderStyle: solid;
$lpSpinnerBorderColor: $lpSpinnerColor $lpSpinnerColor transparent $lpSpinnerColor;
$lpSpinnerSize: 1.5rem;
$lpAnimationEasing: cubic-bezier(.34,.7,.61,.28);
$lpAnimationTime: 800ms;
.loading-pane {
    min-height: $lpSpinnerSize;
    &.loading {
        position: relative;
        &::before {
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            content: '';
            background-color: $lpOverlayColor;
            opacity: $lpOverlayOpacity;
            z-index: 500;
        }

        &::after {
            content: '';
            width: $lpSpinnerSize;
            height: $lpSpinnerSize;
            border-width: $lpSpinnerBorderWidth;
            border-style: $lpSpinnerBorderStyle;
            border-color: $lpSpinnerBorderColor;
            border-radius: 50%;
            -webkit-animation: lp-spinner $lpAnimationTime $lpAnimationEasing infinite;
            animation: lp-spinner $lpAnimationTime $lpAnimationEasing infinite;
            position: absolute;
            z-index: 501;
            left: 50%;
            top: 50%;
            margin-left: -($lpSpinnerSize/2);
            margin-top: -($lpSpinnerSize/2);

        }
    }
}

@-webkit-keyframes lp-spinner {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes lp-spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
